/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8D.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-ohoTus9H.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  background-color: #fff;
  color: #222;
  font: 100.01%/1.7 "oswald", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
.site-logo {
  display: none;
}
a {
  display: inline;
  text-decoration: none;
  color: #f21706;
}
a:hover {
  color: #d11104;
}
.right {
  float: right;
}
.figure {
  margin-left: 10px;
  margin-top: 0;
}
h1 {
  font-size: 2.3rem;
  line-height: 1.2;
  border-bottom: 1px solid #222;
}
p {
  font-size: 1.1rem;
}
/* ####################################### Header (Navigation) ############################################### */
.inner-wrap.inner-wrap-header {
  max-width: 100%;
}
.inner-wrap.header .row {
  max-width: 100%;
}
.region-header {
  overflow: auto;
  background: #eee;
}
.region-header-col-1 {
  float: left;
  width: 15%;
  text-align: center;
}
.region-header-col-2 {
  float: left;
  width: 75%;
}
.region-header-col-3 {
  float: left;
  width: 10%;
  text-align: center;
}
.region-header-col-1 .site-logo-text {
  font-size: 2rem;
}
.region-header-col-1 .site-logo-text a {
  color: #222;
}
.rm-navbar {
  height: 50px;
  width: 100%;
  color: #222;
  font-size: 1rem;
  font-weight: bold;
}
.rm-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #eee;
}
.rm-navbar li {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 1em;
  color: #222;
  margin-right: -4px;
}
.rm-navbar li:hover {
  color: #f21706;
}
.rm-navbar li ul {
  position: absolute;
  display: none;
  width: inherit;
}
.rm-navbar li:hover ul {
  display: block;
}
.rm-navbar li ul li {
  display: block;
}
.rm-navbar a {
  display: block;
  text-decoration: none;
  color: #222;
}
.rm-navbar a:hover {
  color: #f21706;
}
/* ####################################### Main ############################################### */
.region-main {
  width: 75%;
  margin: 0 auto;
}
/* ####################################### Footer ############################################### */
.inner-wrap.inner-wrap-footer {
  max-width: 100%;
}
.inner-wrap.footer .row {
  max-width: 100%;
}
.region-footer {
  overflow: auto;
  text-align: center;
  margin-top: 2rem;
  background: #eee;
}
.footer-column {
  float: left;
  width: 33%;
}
.column {
  margin-bottom: 2rem;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
