/*!
 * Stylesheet for design kmom05.less.
 *
 * This stylesheet is for the design course and kmom02 where we use LESS.
 */


@import "kmom04.less";

//  @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
//  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

//  @fontFamilyMerriweather: 'Merriweather', serif;
//  @fontFamilyRoboto: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@fontFamilyOpenSans: 'Open Sans', sans-serif;

@bgColorNav: #eee;
@bgColorHtml: #fff;
@bgColorBody: #fff;
@bgColorFooter: #eee;
@textColor: #222;
@linkColor: #1339b6;
@linkColorHover: #123299;


// Edit the typographic grid to my needs
@fontFamilyHeadings: @fontFamilyOpenSans; // @fontFamilyHelvetica; //"serif";
@fontFamilyBody: @fontFamilyOpenSans; // @fontFamilyGaramond; //"sans-serif"; // "serif"
// @fontFamilyHeadings: @fontFamilyMerriweather; // @fontFamilyHelvetica; //"serif";
// @fontFamilyBody: @fontFamilyRoboto; // @fontFamilyGaramond; //"sans-serif"; // "serif"
@fontFamilyCode: @fontFamilyCourier; //"monospace";

// Magic number and base fontsize
@magicNumber:  24px;  // 22px
@fontSizeBody: 16px;
